body {
  background-color: #E2CABE;
  color: #342C35;
  margin: 40px;
}

.header {
  background-color: #B2D3FC;
  margin: 20px;
  padding: 30px;
  border: #7B6057 solid;
  box-sizing: border-box;
}

img {
  height: 300px;
  width: auto;
  float: left;
  border: #7B6057 solid;
  box-sizing: border-box;
}

about-me-text {
  float: left;


}