body {
  background-color: #E2CABE;
  color: #342C35;
}

.header {
  background-color: #B2D3FC;
  width: 100%;
  margin: 10px;
  padding: 30px;
  border: #7B6057 solid;
  box-sizing: border-box;
}

.portfolio {
  width: 100%;
  border: #7B6057 solid;
  margin-top: 20px;
  padding: 10px;
  box-sizing: border-box;

}

.about-me {
  width: 100%;
  margin-bottom: 50px;
  margin-top: 30px;
  box-sizing: border-box;
}

img {
  height: 300px;
  width: auto;
  float: left;
  border: #7B6057 solid;
  margin-bottom: 30px;
  box-sizing: border-box;
}

.about-me-text {
  float: right;
  width: 78%;
  height: auto;
  margin-bottom: 30px;
  box-sizing: border-box;
}

.link {
  background-color: #B2D3FC;
  padding: 3px;
  font-style: oblique;
}


.contact {
  width: 100%;
  margin-top: 50px;
  margin-bottom: 50px;
  box-sizing: border-box;

}